<h1><%= pluralize(@current_projects.size, 'Project') %></h1>

<h2>Current Projects:</h2>


<% @current_projects.each do |pro| %>
  <article>
    <header>
      <h3><%= pro.name %></h3>
    </header>
    <p>
      <%= truncate(pro.description, limit: 150, seperator: ' ') %>
    </p>
    <table>
      <tr>
        <th>Target Pledge:</th>
        <td><%= number_to_currency(pro.target_pledge_amount) %></td>
      </tr>
      <tr>
        <th>Pledging Ends:</th>
        <td><%= format_pledging_ends_on(pro) %></td>
      </tr>
      <tr>
        <th>Website:</th>
        <td><a href="<%= pro.website %>"><%= pro.website %></a></td>
      </tr>
    </table>
  </article>
<% end %>
